@page "/employee/{id:int}"
@inherits  PersonComponent
<h3>Employee Details (just coded for hands dirty )</h3>


<div class="form-group mx-sm-3 mb-2">
    <label for="Dept">Dept: &nbsp; </label>
    <input type="text" id="Dept" class="form-control"
           placeholder="Dept" @bind-value="Dept"/>
</div>

@code {

  
}
