@page "/person/{id:int}"
<h3>Person Details (just coded for hands dirty )</h3>
@*<div class="form-group mx-sm-3 mb-2">
        <label for="ID">id: &nbsp; </label>
        <InputText id="id" class="form-control"
                   placeholder="Maker Name" @bind-Value="@(id.ToString())">id</InputText>
    </div>*@

<div class="form-group mx-sm-3 mb-2">
    <label for="Name">Name: &nbsp; </label>
    <input type="text" id="Name" class="form-control"
               placeholder="Name" @bind-value="Name" />
</div>

<div class="form-group mx-sm-3 mb-2">
    <label for="Address">Address: &nbsp; </label>
    <input type="text" id="Address" class="form-control"
           placeholder="Address" @bind-value="Address"/>
</div>
@code {

}
