@page "/"

<h1>Hello!</h1>

I am Blazor Server app
@*@for (int i = 0; i < 3; i++)
{
    <DynamicComponent Title="Click On Above button"  Content=" you can see the result"/>
}*@
@*<SurveyPrompt Title="How is Blazor working for you?" />*@
